---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BlogHeader from '../components/BlogHeader.astro'

let title = 'Antonio Arias || Categories';
let description = 'My blog.';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));  

---
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="/blog.css" />
    

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      main  {
        margin-top: 100px;
      }

      h1    {
          width: 90%;
          font-size: 1.8rem;
          color: #eeea;
          padding: 10px 30px;
      }
    </style>
  </head>

  <body>
    <div id="app">
        <BlogHeader />       
        <main>
            <h1 class="title">Categories</h1>
            {{ allPosts }}
        </main>        
    </div>
  </body>
</html>
