---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BlogHeader from '../components/BlogHeader.astro'

let title = 'Antonio Arias';
let description = 'My blog.';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="/blog.css" />

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      main  {
        margin-top: 100px;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 2px double var(--theme-divider);
      }

      .intro > * {
        margin: 0;
        color: #aaa;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
        color: #eee
      }
      
      .posts-latest  {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        grid-auto-rows: 1fr;
        width: 95%;
        margin: 0 auto;
        gap: 15px;
        row-gap: 30px;
      }
    </style>
  </head>

  <body>
    <div id="app">
        <BlogHeader />       

        <main>
          <section class="posts-latest">
            {allPosts.map(p => <BlogPostPreview post={p} />)}
          </section>
        </main>        
    </div>
  </body>
</html>
