<header class="header" id="header">
</header>



<nav class="panel" id="panel-nav">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="">Portfolio</a>    
</nav>

<div class="icon button-icon-1" id="button-nav">
    <span class="bar-1"></span>
    <span class="bar-2"></span>
    <span class="bar-3"></span>  
</div>


<style>



.button-icon-1 {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 999;
  mix-blend-mode: difference;
/* -webkit-box-reflect: below 0 linear-gradient(transparent, #000d); */
}
.button-icon-1 span  {
  width: 80%;
  height: 10%;
  background-color: #00ffc6;
  margin: 4px 0px;
  border-radius: 25px;
  transition: all .3s;
  position: relative;
}
  
.button-icon-1 .bar-1,.button-icon-1 .bar-3  {
    width: 50%
  }
  
.button-icon-1 .bar-1  {
    align-self: start
  }
.button-icon-1 .bar-3  {    
    align-self: flex-end;
  }


.open span {
    margin: 1px 5px;
}

.open .bar-1  {
    transform: rotate(45deg)
}

.open .bar-2  {
    transform: rotate(-45deg)
}

.open .bar-3  {
    transform: rotate(45deg)
}


@media (min-width: 800px) {
  .button-icon-1  {
    display: none;
  }

  #panel-nav    {
      display: none;
  }
}

</style>


<script>

 function responsiveSystem(id, contentDesktop, contentMobile, mql = "(max-width: 800px)")    {

    const breakpoints = window.matchMedia(mql)
    const changeSize = mql =>   {
        (mql.matches) 
        ? document.getElementById(id).innerHTML = contentMobile
        : document.getElementById(id).innerHTML = contentDesktop

    }

    breakpoints.addListener(changeSize)

    changeSize(breakpoints)
}

responsiveSystem(
    "header",
    `
    <a class="link-title" href="/">
        <h1>Antonio</h1>
    </a>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="">Portfolio</a>
    </nav>
    `,
    `
    <a class="link-title" href="/">
        <h1>Antonio</h1>
    </a>
    `
)


function menu(id, panel, links)  {
    const $menu = document.getElementById(id)
    const $panel = document.getElementById(panel)
    const $links = document.querySelectorAll(links)

    $menu.addEventListener("click", e =>    {
        $menu.classList.toggle("open")
        $panel.classList.toggle("active-panel")
    })
    
    $links.forEach(el =>    {
        el.addEventListener("click", e=> {
            $panel.classList.toggle("active-panel")
            $menu.classList.toggle("open")
        })
    })
}

menu("button-nav", "panel-nav", ".panel a")

</script>