---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
  <header>
    <h3 class="publish-date">{post.publishDate}</h3>
    <a href={post.url}><h1 class="title">{post.title}</h1></a>
  </header>
  <main>
    <p>{post.description}</p>
    <a href={post.url}>Read more</a>
  </main>
</article>

<style>
/* .content :global(main > * + *) {
  margin-top: 1rem;
} */

.post-preview {
  width: 95%;
  height: 100%;
  margin: 20px auto;
  display: block;
  background-color: #2225;
  box-shadow: 0 0 .5px 1px #888;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #fff;
}

main p  {
  color: #eee
}
  
a > h1.title  {
    font-size: 1.3rem;
}

.publish-date {
  font-size: 1rem;
    color: #aaa;
}
</style>
