---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogHeader from '../components/BlogHeader.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, alt} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
  <div id="post">
    <BlogHeader />
    <main>
      <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
        <slot />
      </BlogPost>
    </main>    
  </div>
  </body>
</html>

<style>

main  {
  margin-top: 100px;
}

</style>